<a href="https://colab.research.google.com/github/dariamichalowicz/Predykcja_cen_auta_do_testow/blob/main/Wdro%C5%BCenie_projektu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
#manipulacja danymi
import pandas as pd
import numpy as np

#wczytanie modelu
import joblib

In [120]:
model_path_random_forest ='/content/gdrive/My Drive/model_random_forest.joblib'

In [121]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [122]:
model_random_forest= joblib.load(model_path_random_forest )

In [123]:
#Auto do sprawdzenia: https://www.motors.co.uk/car-69163551/?i=10&m=sp
# audi[0] Q3[5], rocznik 2016, z manualną skrzynią biegów [1],
# przebieg 42000 mil, Diesel [2], silnik 2.0

In [124]:
#stworzenie danych do sprawdzenia
data = {'brand':[0],'model' : [5], 'year' : [2016], 'transmission' : [1],
         'mileage' : [42000], 'fuelType' : [2], 'engineSize' : [2.0]
        }
data_to_check = pd.DataFrame(data)
data_to_check

   brand  model  year  transmission  mileage  fuelType  engineSize
0      0      5  2016             1    42000         2         2.0

In [125]:
model_random_forest.predict(data_to_check)

array([15697.0581966])